:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-grey: #aba9a7;

  --special-brown-light: #604E43;
  --special-brown-neutral: #503E33;

  --special-blue-light: #669EC0;
  --special-blue-neutral: #5496BD;

  --special-grey: #EEEEEE;
  --special-grey-rate: #F2F2F2;
  --special-grey-htmlacademy: #BDBBBC;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  position: relative;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  justify-content: space-around;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

.site-navigation a {
  color: var(--basic-black);
  display: block;
  text-align: center;

}

.site-navigation li {
  width: 20%;
  padding-top: 15px;
}

.site-navigation li:nth-child(3) {
  margin-left: 20%;
}

.intro {
  width: 1200px;
  height: 509px;
  text-align: center;
  background-color: var(--basic-grey);
  background-image: url(../img/intro-background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.intro-img {
  margin-top: 76px;
}

.info {
  padding-top: 41px;
  padding-bottom: 51px;
}


/* Header */

.main-header-logo {
  text-align: center;
  justify-self: center;
  width: 138px;
  height: 70px;
  position: absolute;
  left: 531px;
  top: 0;
}



/* Main */

.info-headline {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  width: 470px;
  margin: 0px 365px 16px 365px;
}

.info-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  margin: 0px;
}

.feature {
  text-align: center;
  color: var(--basic-black);
  background-color: var(--special-grey);
  grid-row: 4/5;
  width: 400px;
  padding-top: 47px;
  padding-bottom: 54px;
}

.feature-headline {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 25px;
}

.feature-number {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 23px;
}

.feature-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  margin-left: 77px;
  width: 246px;
}

.feature-first {
  display: grid;
  width: 1200px;
  background-color: var(--basic-blue);
  grid-template-columns: 1fr 1fr;
  grid-row: 1/2;
}

.feature-first-headline {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;

}

.feature-first-number {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 23px;

}

.feature-first-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  margin: 0;
  width: 302px;
  margin-left: 49px;

}


.feature-second {
  display: grid;
  width: 1200px;
  background-color: var(--basic-blue);
  grid-template-columns: 1fr 1fr;
  grid-row: 3/4;
  margin-top: 0px;
}

.feature-second-headline {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
}


.feature-second-number {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  margin-top: 0;
  margin-bottom: 23px;
}

.feature-second-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
  margin: 0;
  margin-left: 50px;
  width: 301px;
}

.feature-city {
  padding-top: 47px;
  padding-bottom: 54px;
}


.feature-inner {
  width: 400px;
  color: var(--basic-black);
  text-align: center;
  padding-top: 64px;
  padding-bottom: 82px;
}

.feature-inner-headline {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;
}


.feature-inner-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  margin-left: 51px;
  width: 297px;
}

.feature-inner-img {
  margin-bottom: 31px;
}

.feature-img {
  background-color: var(--special-grey);
}

.feature-canyon {
  padding-top: 50px;
  padding-bottom: 51px;
}

.book {
  text-align: center;
  background-color: var(--basic-white);
  background-position: top center;
  padding-top: 30px;
}

.book-headline {
  font-weight: bold;
  margin: 0;
  padding: 58px 457px 0px 446px;

}

.book-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  padding: 54px 382px 54px 382px;
  margin: 0;
}

/* Buttons*/

.button {
  display: inline-block;
  font: inherit;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button:disabled {
  color: var(--basic-brown);
}

.button-form {
  width: 137px;
  height: 36px;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: var(--basic-white);
  text-align: center;
}

.button-form:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button-more {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  margin-right: 6px;
  height: 27px;
}

.button-more:hover,
.button-more:focus {
  background-color: var(--special-blue-light);
}

.button-more:active {
  background-color: var(--special-blue-neutral);
}

.button-search {
  width: 568px;
  height: 56px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  padding-top: 30px;
  font-weight: bold;
}

.button-search:hover,
.button-search:focus {
  background-color: var(--special-brown-light);
}

.button-search:active {
  background-color: var(--special-brown-neutral);
}

.button-book {
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  margin-right: 6px;
  height: 27px;
}

.button-book:hover,
.button-book:focus {
  background-color: var(--special-brown-light);
}

.button-info:active {
  background-color: var(--special-brown-neutral);
}

.link-htmlacademy {
  font-weight: normal;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  display: flex;
}

.link-htmlacademy:hover,
.link-htmlacademy:focus {
  color: var(--special-blue-light)
}

.link-htmlacademy:active {
  color: var(--special-grey-htmlacademy);
}

/* Footer*/

.main-footer {
  margin: 0 auto;
  font-size: 21px;
  line-height: 26px;
  background-color: rgb(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-row: 5/6;
  text-align: center;
  padding-bottom: 36px;
}

.footer-social {
  width: 150px;
  text-align: center;
  padding-top: 36px;
  margin: 0 auto;
}

.footer-social ul {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
}

.footer-copyright {
  padding-top: 36px;
  margin: 0 auto;
}

.social-button {
  width: 46px;
  height: 48px;
  color: var(--basic-black);
  background-color: var(--basic-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--special-blue-light);
}

.footer-phone {
  color: var(--basic-black);
}

.map {
  width: 1199px;
  height: 594px;
  background-image: url(../img/map.jpg);
}

/* Catalog */

.form {
  background-color: var(--basic-grey);
  background-image: url(../img/catalog/intro-backgroundcatalog.png);
  background-repeat: no-repeat;
  background-position: top center;
  color: var(--basic-white);
  font-weight: normal;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1200px;
  height: 217px;
}


.form-headline {
  font-size: 16px;
  line-height: 21px;
  grid-column: 2/4;
  font-weight: bold;
}

.form-list {
  font-size: 14px;
  line-height: 21px;
  list-style: none;
  grid-column: 1/2;
}

.form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.cost-content {
  display: flex;

}

.cost-content input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #FFFFFF;
}

.cost-content input:focus {
  border-color: var(--basic-blue);
}

.sort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.sort-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  width: 75px;
}

.sort-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.sort-link {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-black);
  width: 76px;
}

.sort-link:hover {
  color: var(--basic-blue);
}

.rating-list {
  list-style: none;
}

.hotel h2 {
  font-size: 21px;
  line-height: 26px;
}

.hotel-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0px 9px 15px 0px;
  grid-column: 1/2;
}


.hotel-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0px 0px 15px 0px;
  grid-column: 2/3;
}

.rate {
  width: 110px;
  height: 27px;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  background-color: var(--special-grey-rate);
}

.current-page {
  color: var(--basic-brown);
}

/* Grid */

.page {
  height: 100%;
}

.body-wrap {
  min-height: 100vh;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  justify-self: center;
  margin: 0 auto;
}

/* Main header */

.main-header {
  outline-offset: -5px;
  grid-column: 1/4;
}

/* Main*/

.features {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: stretch;
  padding: 0;
  margin: 0;

}

.feature-inner-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 2/3;

}

.hotels {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.hotel {
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  margin-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 30px;
}

.hotels h2 {
  margin-bottom: 7px;
  margin-top: 0;
}

.hotel-img {
  width: 135px;
  height: 90px;
  margin-right: 29px;
}

.hotel-info {
  width: 809px;
}

.rating {
  width: 183px;
}

.hotel-price-from {
  display: grid;
  width: 258px;
}





