:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-grey: #aba9a7;

  --special-brown-light: #604E43;
  --special-brown-neutral: #503E33;

  --special-blue-light: #669EC0;
  --special-blue-neutral: #5496BD;

  --special-grey: #EEEEEE;
  --special-grey-rate: #F2F2F2;
  --special-grey-htmlacademy: #BDBBBC;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  display: ;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-black);
}

.site-navigation a {
  color: var(--basic-black);
}

.intro {
  width: 1200px;
  height: 509px;
  text-align: center;
  background-color: var(--basic-grey);
  background-image: url(../img/intro-background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}


/* Header */

.main-header-logo {
  text-align: center;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  justify-self: center;
}

/* Main */

.info-headline {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.info-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
}

.feature {
  width: 400px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--special-grey);
  outline: 5px solid rgba(21, 255, 0, 0.3);
  grid-row: 4/5;

}

.feature-first {
  display: grid;
  width: 1200px;
  background-color: var(--basic-blue);
  grid-template-columns: 1fr 1fr;
  grid-row: 1/2;

}

.feature-first-headline {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}

.feature-first-number {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}

.feature-first-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}


.feature-second {
  display: grid;
  width: 1200px;
  outline: 5px solid rgba(2, 34, 180, 0.904);
  background-color: var(--basic-blue);
  grid-template-columns: 1fr 1fr;
  grid-row: 3/4;
}

.feature-second-headline {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}


.feature-second-number {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}

.feature-second-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-white);
  text-align: center;
}

.feature-headline {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.feature-number {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-black);
}

.feature-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: var(--basic-black);
}

.feature-inner {
  width: 400px;
  color: var(--basic-black);
  outline: 5px solid rgba(0, 132, 255, 0.3);
  margin-top: 20px;
  text-align: center;
}

.feature-inner-headline {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.feature-inner-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.feature-img {
  background-color: var(--special-grey);
}

.book {
  text-align: center;
  background-color: var(--basic-white);
  background-position: top center;
  padding-top: 30px;
}

.book-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
}

/* Buttons*/

.button {
  font: inherit;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button:disabled {
  color: var(--basic-brown);
}

.button-form {
  width: 137px;
  height: 36px;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  color: var(--basic-white);

}

.button-form:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button-more {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.button-more:hover,
.button-more:focus {
  background-color: var(--special-blue-light);
}

.button-more:active {
  background-color: var(--special-blue-neutral);
}

.button-search {
  width: 568px;
  height: 86px;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-search:hover,
.button-search:focus {
  background-color: var(--special-brown-light);
}

.button-search:active {
  background-color: var(--special-brown-neutral);
}

.button-book {
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.button-book:hover,
.button-book:focus {
  background-color: var(--special-brown-light);
}

.button-info:active {
  background-color: var(--special-brown-neutral);
}

.link-htmlacademy {
  font-weight: normal;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.link-htmlacademy:hover,
.link-htmlacademy:focus {
  color: var(--special-blue-light)
}

.link-htmlacademy:active {
  color: var(--special-grey-htmlacademy);
}

/* Footer*/

.main-footer {
  margin: 0 auto;
  padding: 10px 10px;
  font-size: 21px;
  line-height: 26px;
  background-color: rgb(255, 255, 255, 0.5);
  outline: 5px solid rgba(255, 251, 0, 0.87);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 5/6;
  text-align: center;
}

.footer-social {
  list-style: none;
  text-align: center;
}

.social-button {
  color: var(--basic-black);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--special-blue-light);
}

.footer-phone {
  color: var(--basic-black);
}

/* Catalog */

.form {
  background-color: var(--basic-grey);
  background-image: url(../img/catalog/intro-backgroundcatalog.png);
  background-repeat: no-repeat;
  background-position: top center;
  color: var(--basic-white);
  font-weight: normal;
}


.form-headline {
  font-size: 16px;
  line-height: 21px;
}

.form-list {
  font-size: 14px;
  line-height: 21px;
  list-style: none;
}

.cost-content input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #FFFFFF;
}

.cost-content input:focus {
  border-color: var(--basic-blue);
}


.sort-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-list {
  list-style: none;
}

.sort-link {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-black);
}

.sort-link:hover {
  color: var(--basic-blue);
}

.rating-list {
  list-style: none;
}

.hotel h2 {
  font-size: 21px;
  line-height: 26px;
}

.hotel-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.hotel-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.rate {
  width: 110px;
  height: 27px;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  background-color: var(--special-grey-rate);
}

.current-page {
  color: var(--basic-brown);
}

/* Grid */

.page {
  height: 100%;
}

.body-wrap {
  min-height: 100vh;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  justify-self: center;
  margin: 0 auto;
}

/* Main header */

.main-header {
  margin-bottom: 70px;
  outline: 5px solid rgba(30, 255, 0, 0.3);
  outline-offset: -5px;
  grid-column: 1/4;
}

/* Main*/

.features {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 256px 256px 256px 256px;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: stretch;
  padding: 0;
  margin: 0;

}

.feature-inner-block {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 2/3;
}


